<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./assets/script/mini.style.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Praise&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="/assets/styles/index.css" />
    <title>Modal</title>
    <!-- Add your CSS stylesheets if any -->
</head>

<body>

    <!-- prodcutReview-Modal -->
    <div id="prodcutReview-modal" tabindex="-1" aria-hidden="true"
        class="hidden h-[100vh] overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-[500] w-full justify-center items-center md:inset-0">
        <div class="relative w-full  max-w-[95%] md:max-w-[85%] lg:max-w-[1080px] mx-auto h-[90vh] overflow-scroll">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <!-- Modal header -->
                <div class="absolute top-2 right-2 flex items-center justify-between z-[700]">
                    <button id="prodcutReview-modal-btn" data-modal-hide="prodcutReview-modal" type="button"
                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="relative  text-[#252338]">
                    <div class="grid grid-cols-12">
                        <div class="col-span-12 lg:col-span-6">
                            <div>
                                <img src="/assets/images/reviewpage/product-head.svg" />
                            </div>
                        </div>
                        <div class="col-span-12 lg:col-span-6 px-5 lg:px-8 pt-8 lg:pt-16 pb-4">
                            <div class="grid grid-cols-12">
                                <div
                                    class="col-span-12 flex flex-col lg:flex-row justify-start lg:justify-between  items-center">
                                    <div class="flex justify-center flex-col lg:flex-row items-center gap-3">
                                        <div class="mr-2">
                                            <img class="rounded-full" src="/assets/images/reviewpage/profile-1.svg"
                                                alt="product-head" />
                                        </div>
                                        <h5 class="poppins text-[20px] font-[600]">Advik Joshi</h5>
                                        <div class="w-[4px] h-[4px] bg-[#252338] rounded-full hidden lg:block"></div>
                                        <p class="text-[#5394F3] poppins font-normal text-[16px]">13 Sep 2023</p>
                                        <div>
                                            <img src="/assets/images/reviewpage/flag.png" alt="product-head"
                                                width="16px" height="auto" />
                                        </div>
                                    </div>
                                    <div class="flex items-center justify-end">
                                        <div class="w-[4px] h-[4px] bg-[#252338] rounded-full mr-1"></div>
                                        <div class="w-[4px] h-[4px] bg-[#252338] rounded-full mr-1"></div>
                                        <div class="w-[4px] h-[4px] bg-[#252338] rounded-full mr-1"></div>
                                    </div>
                                </div>

                                <div class="col-span-12 py-7 flex justify-center lg:justify-start border-b-2 ">
                                    <h4 class="poppins text-[22px] font-bold mr-2">5.0</h4>
                                    <div class="flex items-center">
                                        <div class="h-[16px] w-[16px] mr-2">
                                            <img src="/assets/images/star.svg" alt="start" width="100%" height="auto" />
                                        </div>
                                        <div class="h-[16px] w-[16px] mr-2">
                                            <img src="/assets/images/star.svg" alt="start" width="100%" height="auto" />
                                        </div>
                                        <div class="h-[16px] w-[16px] mr-2">
                                            <img src="/assets/images/star.svg" alt="start" width="100%" height="auto" />
                                        </div>
                                        <div class="h-[16px] w-[16px] mr-2">
                                            <img src="/assets/images/star.svg" alt="start" width="100%" height="auto" />
                                        </div>
                                        <div class="h-[16px] w-[16px] mr-2">
                                            <img src="/assets/images/star.svg" alt="start" width="100%" height="auto" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-span-12 mt-7 mb-10 lg:mb-20">
                                    <p>
                                        Immersive sound meets comfort with these wireless headphones. Enjoy
                                        crystal-clear audio and uninterrupted listening thanks to noise-canceling
                                        technology and long battery life. Perfect for commuting, work and relaxation.
                                    </p>
                                </div>
                                <div class="col-span-12">
                                    <div class="flex gap-4">
                                        <div class="flex items-center mr-2.5">
                                            <div class="mr-1">
                                                <img src="/assets/images/reviewpage/like.svg" alt="like" width="20px"
                                                    height="20px" />
                                            </div>
                                            <p class="text-[16px] poppins">36</p>
                                        </div>
                                        <div class="flex items-center">
                                            <div class="mr-1">
                                                <img src="/assets/images/reviewpage/like.svg" class="rotate-180"
                                                    alt="like" width="20px" height="20px" />
                                            </div>
                                            <p class="text-[16px] poppins">36</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex items-center flex-col lg:flex-row border-t-2 mt-20 pt-7">
                                <div class="mr-5">
                                    <img src="/assets/images/reviewpage/head-set.svg" alt="head-set" width="80px"
                                        class="w-[80px] h-[80px]" />
                                </div>
                                <div class="col-span-8">
                                    <div>
                                        <p class="poppins text-[16px] font-[500] text-center lg:text-left">Music Wizard
                                            Over Head Noise Cancellation Headphone - Purple</p>
                                    </div>
                                    <div class="mt-2 flex justify-center lg:justify-start ">
                                        <button
                                            class="bg-[#F2F2F2] flex justify-center lg:justify-start items-center rounded-[6px] px-3 py-[7px]">
                                            <div class="mr-2">
                                                <img src="/assets/images/reviewpage/bag.svg" alt="bag"
                                                    class="w-[10px] h-auto" />
                                            </div>
                                            <p class="text-[#252338] text-[12px]">View Product</p>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Writereview-Modal -->
    <div id="Writereview-modal" tabindex="-1" aria-hidden="true"
        class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-[500] w-full justify-center items-center md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative w-full  max-w-[95%] md:max-w-[85%] lg:max-w-[1080px] mx-auto max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 md:p-5 ">
                    <button id="Writereview-modal-btn" data-modal-hide="Writereview-modal" type="button"
                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="relative max-h-full text-[#252338] px-5 lg:px-40 py-6 flex items-center justify-center">
                    <div>
                        <div id="kp-wr-step-1" class="py-10">
                            <h2 class="kr-font-nimbusRomNo9L font-normal text-[24px] lg:text-[42px] text-center">How
                                would you rate this item?</h2>
                            <div class="kp-stars flex items-center justify-center gap-6 ">
                                <span
                                    class="kp-star-rating text-[5vh] lg:text-[10vh] text-[#D9D9D9] cursor-pointer">★</span>
                                <span
                                    class="kp-star-rating text-[5vh] lg:text-[10vh] text-[#D9D9D9] cursor-pointer">★</span>
                                <span
                                    class="kp-star-rating text-[5vh] lg:text-[10vh] text-[#D9D9D9] cursor-pointer">★</span>
                                <span
                                    class="kp-star-rating text-[5vh] lg:text-[10vh] text-[#D9D9D9] cursor-pointer">★</span>
                                <span
                                    class="kp-star-rating text-[5vh] lg:text-[10vh] text-[#D9D9D9] cursor-pointer">★</span>
                            </div>
                            <div class="flex items-center justify-between px-5 text-[#252338]">
                                <p>Disliked It</p>
                                <p>liked It</p>
                            </div>
                        </div>
                        <div id="kp-wr-step-2" class="py-2" style="display: none;">
                            <div class="mb-5 text-center">
                                <h2 class="kr-font-nimbusRomNo9L font-normal text-[24px] lg:text-[42px]">Show It Off
                                </h2>
                                <p class="text-[18px] lg:text-[30px] kr-font-nimbusRomNo9L font-normal">We’d love to see
                                    it in action!</p>
                            </div>
                            <div class="flex items-center justify-center w-full">
                                <div>
                                    <label for="dropzone-file" class="cursor-pointer">
                                        <div class="">
                                            <div>
                                                <img id="preview-image" src="/assets/images/reviewpage/upload-img.svg"
                                                    alt="upload-image" class="w-[80%] lg:w-[529] h-auto mx-auto" />
                                            </div>
                                            <div class="text-center mt-7 ">
                                                <p class="mb-5"><a class="text-[#0081F9]">Click Here</a> to upload
                                                    photos or videos</p>
                                            </div>
                                        </div>
                                        <input id="dropzone-file" type="file" class="hidden" onchange="previewFile()" />
                                    </label>
                                    <p id="kp-wr-stepper-cancle" class="text-[#FF0000] text-center cursor-pointer">I’ll
                                        Do It Later</p>
                                </div>
                            </div>
                        </div>
                        <div id="kp-wr-step-3" class="py-2 w-[100%]" style="display: none;">
                            <div class="mb-7 text-center">
                                <h2 class="kr-font-nimbusRomNo9L font-normal text-[24px] lg:text-[42px]">Tell Us More
                                </h2>
                            </div>
                            <div class="w-[100%]">
                                <textarea id="message" rows="10"
                                    class="block p-2.5 w-[280px] sm:w-[300px] md:w-[529px] mx-auto rounded-[10px] text-sm text-gray-900 border-2 border-[#D9D9D9]"
                                    placeholder="Share your experience"></textarea>
                            </div>
                            <div class="text-center mt-7">
                                <button
                                    class="bg-[#252338] py-2.5 px-10 w-[280px] sm:w-[300px] md:w-[529px] mx-auto text-center text-[#fff] rounded-[10px]">NEXT</button>
                            </div>
                        </div>
                        <div id="kp-wr-step-4" class="py-2" style="display: none;">
                            <div class="mb-7 text-center">
                                <h2 class="kr-font-nimbusRomNo9L font-normal text-[24px] lg:text-[42px]">About You</h2>
                            </div>
                            <div>
                                <div class="grid gap-6 mb-6 md:grid-cols-2">
                                    <div>
                                        <label for="first_name"
                                            class="kr-font-nimbusRomNo9L block mb-2 text-sm font-medium text-gray-900 dark:text-white">First
                                            name <span class="text-[#FF0000]">*</span></label>
                                        <input type="text" id="first_name"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                            placeholder="John" required />
                                    </div>
                                    <div>
                                        <label for="last_name"
                                            class="kr-font-nimbusRomNo9L block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last
                                            name<span class="text-[#FF0000]">*</span></label>
                                        <input type="text" id="last_name"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                            placeholder="Doe" required />
                                    </div>
                                </div>
                                <div class="mb-6">
                                    <label for="email"
                                        class="kr-font-nimbusRomNo9L block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email
                                        address<span class="text-[#FF0000]">*</span></label>
                                    <input type="email" id="email"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="john.doe@company.com" required />
                                </div>
                                <p class="kr-font-nimbusRomNo9L text-[18px] text-center mx-auto w-[90%]">By submitting,
                                    I acknowledge the <span class="underline">Terms of Service</span> & <span
                                        class="underline">Privacy Policy</span>
                                    and that my review will be publicly posted & shared online</p>
                            </div>
                            <div class="text-center mt-20 ">
                                <button
                                    class="bg-[#252338] py-2.5 px-10 w-[90%] md:w-[429px] text-center text-[#fff] rounded-[10px]">Done</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- AskAQuestion-Modal -->
    <div id="AskAQuestion-modal" tabindex="-1" aria-hidden="true"
        class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-[500] w-full justify-center items-center md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative w-full  max-w-[95%] md:max-w-[85%] lg:max-w-[1080px] mx-auto max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 md:p-5 ">
                    <button id="AskAQuestion-modal-btn" data-modal-hide="AskAQuestion-modal" type="button"
                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="relative max-h-full text-[#252338] px-5 lg:px-40 py-6 flex items-center justify-center">
                    <div>
                        <div id="kp-aq-step-1" class="modal-step py-10 w-[100%] block">
                            <div class="mb-7 text-center">
                                <h2 class="kr-font-nimbusRomNo9L font-normal text-[24px] lg:text-[42px]">Tell Us More
                                </h2>
                            </div>
                            <div class="w-[100%]">
                                <textarea id="message_aq" rows="10"
                                    class="block p-2.5 w-[280px] sm:w-[300px] md:w-[529px] mx-auto rounded-[10px] text-sm text-gray-900 border-2 border-[#D9D9D9]"
                                    placeholder="Share your experience"></textarea>
                            </div>
                            <div class="text-center mt-7">
                                <button id="kp-qa-step1-btn" onclick="showStep()"
                                    class="bg-[#252338] py-2.5 px-10 w-[280px] sm:w-[300px] md:w-[529px] mx-auto text-center text-[#fff] rounded-[10px]">NEXT</button>
                            </div>
                        </div>
                        <div id="kp-aq-step-2" class="modal-step py-2 hidden">
                            <div class="mb-7 text-center">
                                <h2 class="kr-font-nimbusRomNo9L font-normal text-[24px] lg:text-[42px]">About You</h2>
                            </div>
                            <div>
                                <div class="grid gap-6 mb-6 md:grid-cols-2">
                                    <div>
                                        <label for="first_name_aq"
                                            class="kr-font-nimbusRomNo9L block mb-2 text-sm font-medium text-gray-900 dark:text-white">First
                                            name <span class="text-[#FF0000]">*</span></label>
                                        <input type="text" id="first_name_aq"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                            placeholder="John" required />
                                    </div>
                                    <div>
                                        <label for="last_name_aq"
                                            class="kr-font-nimbusRomNo9L block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last
                                            name<span class="text-[#FF0000]">*</span></label>
                                        <input type="text" id="last_name_aq"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                            placeholder="Doe" required />
                                    </div>
                                </div>
                                <div class="mb-6">
                                    <label for="email_aq"
                                        class="kr-font-nimbusRomNo9L block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email
                                        address<span class="text-[#FF0000]">*</span></label>
                                    <input type="email" id="email_aq"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="john.doe@company.com" required />
                                </div>
                                <p class="kr-font-nimbusRomNo9L text-[18px] text-center mx-auto w-[90%]">By submitting,
                                    I acknowledge the <span class="underline">Terms of Service</span> & <span
                                        class="underline">Privacy Policy</span> and that my review will be publicly
                                    posted & shared online</p>
                            </div>
                            <div class="text-center mt-20">
                                <button id="kp-qa-step2-btn" onclick="submitAndLogData()"
                                    class="bg-[#252338] py-2.5 px-10 w-[90%] md:w-[429px] text-center text-[#fff] rounded-[10px]">Done</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="static-modal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true"
        class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-[1300px] max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 md:p-5 rounded-t">
                    <button type="button"
                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                        data-modal-hide="static-modal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>

                <div class="grid grid-cols-12 gap-4 px-6 md:px-12 lg:px-24 pb-6 md:pb-12 lg:pb-24">
                    <div class="col-span-12 ">
                        <h3 class=" text-[50px] md:text-[80px] text-center kr-font-praise">Review</h3>
                    </div>

                    <div class="col-span-12">
                        <div class="grid grid-cols-12 gap-4">
                            <div class="col-span-12 lg:col-span-5">
                                <div class="grid grid-cols-12 gap-3 items-center">
                                    <div class="col-span-3">
                                        <h4
                                            class="text-[50px] md:text-[80px] font-bold kr-font-nimbusRomNo9L m-0 leading-none	">
                                            {{.AverageRating}}</h4>
                                    </div>
                                    <div class="ml-3 md:ml-5 col-span-9">
                                        <div class="flex items-center mb-2">
                                            <div class="h-[20px] md:h-[40px] w-[20px] md:w-[40px] mr-5">
                                                <img src="/assets/images/star.svg" alt="start" width="100%"
                                                    height="auto" />
                                            </div>
                                            <div class="h-[20px] md:h-[40px] w-[20px] md:w-[40px] mr-5">
                                                <img src="/assets/images/star.svg" alt="start" width="100%"
                                                    height="auto" />
                                            </div>
                                            <div class="h-[20px] md:h-[40px] w-[20px] md:w-[40px] mr-5">
                                                <img src="/assets/images/star.svg" alt="start" width="100%"
                                                    height="auto" />
                                            </div>
                                            <div class="h-[20px] md:h-[40px] w-[20px] md:w-[40px] mr-5">
                                                <img src="/assets/images/star.svg" alt="start" width="100%"
                                                    height="auto" />
                                            </div>
                                            <div class="h-[20px] md:h-[40px] w-[20px] md:w-[40px] mr-5">
                                                <img src="/assets/images/star.svg" alt="start" width="100%"
                                                    height="auto" />
                                            </div>
                                        </div>
                                        <p class="text-[#9A9A9A] font-[16px] md:font-[18px]">{{ .Pagination }} Customer Reviews</p>

                                    </div>
                                </div>
                                <div>
                                    {{ $ratings := .RatingCounts }}
                                    <div class="flex items-center kr-font-nimbusRomNo9L gap-3">
                                        <h5 class="text-[30px] font-bold">5</h5>
                                        <div class="h-[28px] w-[28px]">
                                            <img src="/assets/images/star.svg" alt="start" width="100%" height="auto" />
                                        </div>
                                        <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
                                            <div class="bg-[#252338] h-2.5 rounded-full" style="width: 85%"></div>
                                        </div>
                                        <p class="text-[16px] text-[#9A9A9A]">{{ index $ratings 5 }}</p>
                                    </div>
                                    <div class="flex items-center kr-font-nimbusRomNo9L gap-3">
                                        <h5 class="kr-font-nimbusRomNo9L text-[30px] font-bold">4</h5>
                                        <div class="h-[28px] w-[28px]">
                                            <img src="/assets/images/star.svg" alt="start" width="100%" height="auto" />
                                        </div>
                                        <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
                                            <div class="bg-[#252338] h-2.5 rounded-full" style="width: 65%"></div>
                                        </div>
                                        <p class="text-[16px] text-[#9A9A9A]">{{ index $ratings 4 }}</p>
                                    </div>
                                    <div class="flex items-center kr-font-nimbusRomNo9L gap-3">
                                        <h5 class="kr-font-nimbusRomNo9L text-[30px] font-bold">3</h5>
                                        <div class="h-[28px] w-[28px]">
                                            <img src="/assets/images/star.svg" alt="start" width="100%" height="auto" />
                                        </div>
                                        <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
                                            <div class="bg-[#252338] h-2.5 rounded-full" style="width: 25%"></div>
                                        </div>
                                        <p class="text-[16px] text-[#9A9A9A]">{{ index $ratings 3 }}</p>
                                    </div>
                                    <div class="flex items-center kr-font-nimbusRomNo9L gap-3">
                                        <h5 class="kr-font-nimbusRomNo9L text-[30px] font-bold">2</h5>
                                        <div class="h-[28px] w-[28px]">
                                            <img src="/assets/images/star.svg" alt="start" width="100%" height="auto" />
                                        </div>
                                        <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
                                            <div class="bg-[#252338] h-2.5 rounded-full" style="width: 15%"></div>
                                        </div>
                                        <p class="text-[16px] text-[#9A9A9A]">{{ index $ratings 2 }}</p>
                                    </div>
                                    <div class="flex items-center kr-font-nimbusRomNo9L gap-3">
                                        <h5 class="kr-font-nimbusRomNo9L text-[30px] font-bold">1</h5>
                                        <div class="h-[28px] w-[28px]">
                                            <img src="/assets/images/star.svg" alt="start" width="100%" height="auto" />
                                        </div>
                                        <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
                                            <div class="bg-[#252338] h-2.5 rounded-full" style="width: 10%"></div>
                                        </div>
                                        <p class="text-[16px] text-[#9A9A9A]">{{ index $ratings 1 }}</p>
                                    </div>
                                </div>

                            </div>
                            <div class="col-span-1 hidden lg:block h-[100%] w-[2px] bg-[#252338] ml-10"></div>
                            <div class="col-span-12 lg:col-span-6">
                                <div class="flex flex-col md:flex-row md:items-center md:justify-end gap-4 ">
                                    <div>
                                        <!-- <button data-modal-target="AskAQuestion-modal"
                                            data-modal-toggle="AskAQuestion-modal"
                                            class="w-[97%] md:w-auto flex items-center justify-center text-[#fff] leading-[0px] kr-font-nimbusRomNo9L  bg-[#252338] rounded-[6px] font-bold text-[16px] px-2.5 py-2">
                                            <div class="h-[14px] w-[14px] mr-2.5">
                                                <img src="/assets/images/edit.svg" alt="edit" width="100%"
                                                    height="auto" />
                                            </div>Ask A Question
                                        </button> -->
                                    </div>
                                    <div>
                                        <button data-modal-target="Writereview-modal"
                                            data-modal-toggle="Writereview-modal"
                                            class="w-[97%] md:w-auto flex items-center justify-center text-[#fff] leading-[0px] kr-font-nimbusRomNo9L  bg-[#252338] rounded-[6px] font-bold text-[16px] px-2.5 py-2">
                                            <div class="h-[14px] w-[14px] mr-2.5">
                                                <img src="/assets/images/edit.svg" alt="edit" width="100%"
                                                    height="auto" />
                                            </div>Write A Review
                                        </button>
                                    </div>
                                    <div class="relative">
                                        <select id="filterSelect"
                                            class="text-[#252338] kr-font-nimbusRomNo9L border-2 border-[#252338] rounded-[6px] font-bold text-[16px] pl-7 pr-2.5 py-1 w-[97%] md:w-auto flex items-center justify-center">
                                            <option selected>Filters</option>
                                            <option value="newest">Newest</option>
                                            <option value="oldest">Oldest</option>
                                            <option value="highestRating">Highest Rating</option>
                                            <option value="lowestRatings">Lowest Rating</option>
                                        </select>
                                        <div class=" absolute top-2 left-2 h-[14px] w-[14px]">
                                            <img src="/assets/images/filter.svg" alt="edit" width="100%"
                                                height="auto" />
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="w-[100%] mx-auto slick-carousel mt-10 ">
                                    <div>
                                        <img src="/assets/images/reviewpage/carousel-1.svg" class="block w-[187px]"
                                            alt="...">
                                    </div>
                                    <div>
                                        <img src="/assets/images/reviewpage/carousel-2.svg" class="block w-[187px]"
                                            alt="...">
                                    </div>
                                    <div>
                                        <img src="/assets/images/reviewpage/carousel-3.svg" class="block w-[187px]"
                                            alt="...">
                                    </div>
                                    <div>
                                        <img src="/assets/images/reviewpage/carousel-1.svg" class="block w-[187px]"
                                            alt="...">
                                    </div>
                                    <div>
                                        <img src="/assets/images/reviewpage/carousel-2.svg" class="block w-[187px]"
                                            alt="...">
                                    </div>
                                    <div>
                                        <img src="/assets/images/reviewpage/carousel-3.svg" class="block w-[187px]"
                                            alt="...">
                                    </div>
                                </div> -->
                                <div class="flex items-center mt-14 ">
                                    <div class="w-[25%]  md:w-[35%] h-[2px] bg-[#252338]"></div>
                                    <!-- <p class="w-[50%] md:w-[30%] text-center mx-2 md:mx-3 leading-[0px]">Recent Posts
                                    </p> -->
                                    <div class="w-[25%] md:w-[35%] h-[2px] bg-[#252338]"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-span-12 mt-10">
                        <div class="grid grid-cols-12">
                            <!-- Start of review iteration -->
                            {{ range .Reviews }}
                            <div class="col-span-12 md:col-span-6 lg:col-span-4 xl:col-span-3 mt-6">
                                <div class="w-[233px] mx-auto drop-shadow-lg">
                                    <!-- <div>
                                        <img class="rounded-tl-[10px] rounded-tr-[10px]" src="{{ .image }}" alt="review"
                                            width="auto" height="320px" />
                                    </div> -->
                                    <div class="px-5 py-5 rounded-bl-[10px] rounded-br-[10px] bg-[#ffff] h-[185px]">
                                        <div class="flex items-center">
                                            <!-- <div class="mr-2.5">
                                                <img src="{{ .user.profile_image }}" alt="profile"
                                                    class="w-[30px] h-[30px]" />
                                            </div> -->
                                            <div class="">
                                                <h4 class="text-[14px] poppins font-[400]">{{ .user.name }}</h4>
                                                <div>
                                                    <p class="text-[#D9D9D9] text-[8px] poppins font-[400]">{{ .date }}
                                                    </p>
                                                    <div>
                                                        <img src="/assets/images/reviewpage/flag.svg" alt="flag"
                                                            class="w-[10px] h-[10px]" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-2.5">
                                            <p class="reviewText text-[8px] font-light poppins">{{ .content }}</p>
                                        </div>
                                        <div class="flex items-center justify-between mt-2.5">
                                            <div class="flex items-center">
                                                <h6 class="mb-0 mr-2.5 text-[8px] poppins">{{ .rating }}</h6>
                                                <script>
                                                    // Convert rating to integer using JavaScript
                                                    var rating = "{{ .rating }}";
                                                    var ratingInt = parseInt(rating, 10);
                                                    for (var i = 0; i < ratingInt; i++) {
                                                        document.write(
                                                            '<div class="h-[10px] w-[10px]"><img src="/assets/images/star.svg" alt="start" width="100%" height="auto" /></div>'
                                                            );
                                                    }
                                                </script>
                                            </div>
                                            <div class="flex">
                                                <div class="flex items-center mr-2.5">
                                                    <div class="mr-1">
                                                        <img src="/assets/images/reviewpage/like.svg" alt="like"
                                                            width="10px" height="10px" />
                                                    </div>
                                                    <p class="text-[10px] poppins">{{ .likes }}</p>
                                                </div>
                                                <div class="flex items-center">
                                                    <div class="mr-1">
                                                        <img src="/assets/images/reviewpage/like.svg" class="rotate-180"
                                                            alt="like" width="10px" height="10px" />
                                                    </div>
                                                    <p class="text-[10px] poppins">{{ .dislikes }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{ end }}
                            <!-- End of review iteration -->
                        </div>
                    </div>

                    <div class="col-span-12 mt-20">
                        <div class="flex items-center justify-center">
                            <div class="w-[40%] md:w-[240px] h-[2px] bg-[#252338]"></div>
                            <p class="text-center mx-5 leading-[0px]">Load More</p>
                            <div class="w-[40%] md:w-[240px]  h-[2px] bg-[#252338]"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Add your JavaScript scripts -->
    <script>
        // Add your JavaScript logic here
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script type="text/javascript" src="/assets/script/review-card-text-short.js"></script>

    <script type="text/javascript" src="/assets/script/card-slick.js"></script>

    <script type="text/javascript" src="/assets/script/kp-wr-stepper-model.js"> </script>
    <script type="text/javascript" src="/assets/script/kp-aq-stepper-model.js"> </script>
    <script type="text/javascript" src="/assets/script/showTabRQ.js"> </script>
    <script>
        // Function to initialize and show the modal
        function initializeModal() {
            var modal = document.getElementById('static-modal');
            modal.classList.remove('hidden');
            modal.setAttribute('aria-hidden', 'false');

        }

        // Call initializeModal function on page load
        window.onload = function () {
            initializeModal();
            const filterSelect = document.getElementById('filterSelect');
            filterSelect.addEventListener('change', function () {
                const selectedValue = this.value;
                var iframe = document.createElement('iframe');
                iframe.src = 'http://localhost:9025/v1/get-site-reviews?filterType${selectedValue}'; // Replace with your actual API URL
                iframe.width = '100%';
                iframe.height = '900px';
                iframe.frameBorder = '0';
                
                // document.getElementById('reviewsIframeContainer').innerHTML = '';
                // document.getElementById('reviewsIframeContainer').appendChild(iframe);
                
            });
        };
        
    </script>
</body>

</html>